@theme inline {
  --color-aura-ultra-dark-bg: oklch(from #2a1f3d l c h);
  --color-aura-ultra-dark-bg-dark: oklch(from #23182f l c h);
  --color-aura-ultra-dark-bg-dark1: oklch(from #1b1426 l c h);
  --color-aura-ultra-dark-bg-float: var(--color-aura-ultra-dark-bg-dark);
  --color-aura-ultra-dark-bg-highlight: oklch(from #211f2f l c h);
  --color-aura-ultra-dark-bg-popup: var(--color-aura-ultra-dark-bg-dark);
  --color-aura-ultra-dark-bg-search: var(--color-aura-ultra-dark-blue0);
  --color-aura-ultra-dark-bg-sidebar: var(--color-aura-ultra-dark-bg-dark);
  --color-aura-ultra-dark-bg-statusline: var(--color-aura-ultra-dark-bg-dark);
  --color-aura-ultra-dark-bg-visual: oklch(from #2b2d43 l c h);
  --color-aura-ultra-dark-black: oklch(from #221931 l c h);
  --color-aura-ultra-dark-black-bright: oklch(from #4e3e63 l c h);
  --color-aura-ultra-dark-blue: oklch(from #82e2ff l c h);
  --color-aura-ultra-dark-blue-bright: oklch(from #b5ebff l c h);
  --color-aura-ultra-dark-blue0: oklch(from #2d414d l c h);
  --color-aura-ultra-dark-blue1: oklch(from #a5eaff l c h);
  --color-aura-ultra-dark-blue2: oklch(from #99e7ff l c h);
  --color-aura-ultra-dark-blue5: oklch(from #5593a6 l c h);
  --color-aura-ultra-dark-blue6: oklch(from #487c8c l c h);
  --color-aura-ultra-dark-blue7: oklch(from #759ca7 l c h);
  --color-aura-ultra-dark-border: var(--color-aura-ultra-dark-black);
  --color-aura-ultra-dark-border-highlight: oklch(from #8cc1d8 l c h);
  --color-aura-ultra-dark-comment: oklch(from #6e5f8f l c h);
  --color-aura-ultra-dark-cyan: oklch(from #72f1e5 l c h);
  --color-aura-ultra-dark-cyan-bright: oklch(from #8bfef3 l c h);
  --color-aura-ultra-dark-dark3: oklch(from #5a4d7a l c h);
  --color-aura-ultra-dark-dark5: oklch(from #7a6f9b l c h);
  --color-aura-ultra-dark-diff-add: oklch(from #455765 l c h);
  --color-aura-ultra-dark-diff-change: oklch(from #35324d l c h);
  --color-aura-ultra-dark-diff-delete: oklch(from #532c42 l c h);
  --color-aura-ultra-dark-diff-text: var(--color-aura-ultra-dark-blue7);
  --color-aura-ultra-dark-error: var(--color-aura-ultra-dark-red1);
  --color-aura-ultra-dark-fg: oklch(from #edecee l c h);
  --color-aura-ultra-dark-fg-dark: oklch(from #c8bff2 l c h);
  --color-aura-ultra-dark-fg-float: var(--color-aura-ultra-dark-fg);
  --color-aura-ultra-dark-fg-gutter: oklch(from #3b2f4f l c h);
  --color-aura-ultra-dark-fg-sidebar: var(--color-aura-ultra-dark-fg-dark);
  --color-aura-ultra-dark-git-add: oklch(from #357765 l c h);
  --color-aura-ultra-dark-git-change: oklch(from #436b7b l c h);
  --color-aura-ultra-dark-git-delete: oklch(from #77373b l c h);
  --color-aura-ultra-dark-git-ignore: var(--color-aura-ultra-dark-dark3);
  --color-aura-ultra-dark-green: oklch(from #61ffca l c h);
  --color-aura-ultra-dark-green-bright: oklch(from #c9ffe8 l c h);
  --color-aura-ultra-dark-green1: oklch(from #7dffd4 l c h);
  --color-aura-ultra-dark-green2: oklch(from #94ffdb l c h);
  --color-aura-ultra-dark-hint: var(--color-aura-ultra-dark-teal);
  --color-aura-ultra-dark-info: var(--color-aura-ultra-dark-blue2);
  --color-aura-ultra-dark-magenta: oklch(from #f694ff l c h);
  --color-aura-ultra-dark-magenta-bright: oklch(from #f7abff l c h);
  --color-aura-ultra-dark-magenta2: oklch(from #c884ff l c h);
  --color-aura-ultra-dark-orange: oklch(from #ffca85 l c h);
  --color-aura-ultra-dark-purple: oklch(from #a277ff l c h);
  --color-aura-ultra-dark-rainbow1: var(--color-aura-ultra-dark-blue);
  --color-aura-ultra-dark-rainbow2: var(--color-aura-ultra-dark-yellow);
  --color-aura-ultra-dark-rainbow3: var(--color-aura-ultra-dark-green);
  --color-aura-ultra-dark-rainbow4: var(--color-aura-ultra-dark-teal);
  --color-aura-ultra-dark-rainbow5: var(--color-aura-ultra-dark-magenta);
  --color-aura-ultra-dark-rainbow6: var(--color-aura-ultra-dark-purple);
  --color-aura-ultra-dark-rainbow7: var(--color-aura-ultra-dark-orange);
  --color-aura-ultra-dark-rainbow8: var(--color-aura-ultra-dark-red);
  --color-aura-ultra-dark-red: oklch(from #ff6767 l c h);
  --color-aura-ultra-dark-red-bright: oklch(from #ff8080 l c h);
  --color-aura-ultra-dark-red1: oklch(from #cc5252 l c h);
  --color-aura-ultra-dark-teal: oklch(from #72f1e5 l c h);
  --color-aura-ultra-dark-todo: var(--color-aura-ultra-dark-blue);
  --color-aura-ultra-dark-warning: var(--color-aura-ultra-dark-yellow);
  --color-aura-ultra-dark-yellow: oklch(from #ffd49b l c h);
  --color-aura-ultra-dark-yellow-bright: oklch(from #ffe5c8 l c h);
}